# Node modules (should be installed in Docker)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist
.nuxt
.output

# Local env files
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode
.idea
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

generated